<%- layout('layouts/main') %>
<% pageScripts = ['/js/tasks.js'] %>

<h1>My Tasks</h1>
<a href="/tasks/create">Create New Task</a>
<ul id="task-list" class="task-list">
  <!-- Tasks will be populated by JavaScript -->
</ul>